<a href="https://colab.research.google.com/github/IEXE-Tec/mcda-marketing/blob/main/segmentacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')
sns.set(rc={'figure.figsize':(16,6)})

# ETL

## Importar Datos

In [3]:
retail = pd.read_csv('https://github.com/IEXE-Tec/mcda-marketing/blob/main/OnlineRetail.csv.zip?raw=true', encoding='latin1',compression='zip')
retail.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [4]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

## NaN, missing, infs

### Columnas con NaNs

In [14]:
retail.loc[:,retail.isna().any(axis=0)].head(2)

                          Description  CustomerID
0  WHITE HANGING HEART T-LIGHT HOLDER     17850.0
1                 WHITE METAL LANTERN     17850.0

Al parecer los nans solo estan las columnas de Description y CustomerID

### Rows con NaNs

In [16]:
print('Total de rows con nans:  ', retail[retail.isna().any(axis=1)].shape[0])
retail[retail.isna().any(axis=1)].head(2)

Total de rows con nans:   135080

     InvoiceNo StockCode  ...                date  year_month
622     536414     22139  ... 2010-12-01 11:52:00      201012
1443    536544     21773  ... 2010-12-01 14:32:00      201012

[2 rows x 10 columns]

#### NaNs en Description

Observemos que hay muy pocos NaNs en la descripcion del producto

In [17]:
retail[retail['Description'].isna()]

       InvoiceNo StockCode  ...                date  year_month
622       536414     22139  ... 2010-12-01 11:52:00      201012
1970      536545     21134  ... 2010-12-01 14:32:00      201012
1971      536546     22145  ... 2010-12-01 14:33:00      201012
1972      536547     37509  ... 2010-12-01 14:33:00      201012
1987      536549    85226A  ... 2010-12-01 14:34:00      201012
...          ...       ...  ...                 ...         ...
535322    581199     84581  ... 2011-12-07 18:26:00      201112
535326    581203     23406  ... 2011-12-07 18:31:00      201112
535332    581209     21620  ... 2011-12-07 18:35:00      201112
536981    581234     72817  ... 2011-12-08 10:33:00      201112
538554    581408     85175  ... 2011-12-08 14:06:00      201112

[1454 rows x 10 columns]

Tambien obsrevamos que no tienen precio. Si bien seria conveniente investigar mas al respecto, por ahora podemos eliminarlos de la base, pues el porcentaje es pequeño y pueden complicar el analisis.

In [20]:
retail[retail['Description'].isna()]['UnitPrice'].sum()

0.0

In [21]:
retail = retail[~retail['Description'].isna()]

#### NaNs en CustomerID

Hay muchos missings en el CustomerID alrededor del 20% de la base son NaNs. Esto puede deberse a un error en el sistema, o a que el comprador no creo una cuenta. 
+ Podriamos eliminarlos de la base, pero dado que representan alrededor del 20% es mejor quedarse con ellos.  
+ Podriamos crear un id especifico para todos estos compradores, por ejemplo un id negativo para al momento de modelar o manipular sea facil de recordar.

In [22]:
retail[retail['CustomerID'].isna()]

       InvoiceNo StockCode  ...                date  year_month
1443      536544     21773  ... 2010-12-01 14:32:00      201012
1444      536544     21774  ... 2010-12-01 14:32:00      201012
1445      536544     21786  ... 2010-12-01 14:32:00      201012
1446      536544     21787  ... 2010-12-01 14:32:00      201012
1447      536544     21790  ... 2010-12-01 14:32:00      201012
...          ...       ...  ...                 ...         ...
541536    581498    85099B  ... 2011-12-09 10:26:00      201112
541537    581498    85099C  ... 2011-12-09 10:26:00      201112
541538    581498     85150  ... 2011-12-09 10:26:00      201112
541539    581498     85174  ... 2011-12-09 10:26:00      201112
541540    581498       DOT  ... 2011-12-09 10:26:00      201112

[133626 rows x 10 columns]

In [31]:
# Revisemos si fuera de los missings los ids son enteros o negativos
customer_id = retail.loc[~retail['CustomerID'].isna(), 'CustomerID'].unique()
customer_id = customer_id.astype(int)
(customer_id < 0).sum()

0

Podemos manejar los CustomerID como ints, y asignar el -1 a los clientes que no tienen ID sin problema, pues ningun otro tiene numero negativo.

In [34]:
retail.loc[retail['CustomerID'].isna(), 'CustomerID'] = -1
retail['CustomerID'] = retail['CustomerID'].astype(int) 
retail.head(2)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  InvoiceNo StockCode  ...                date  year_month
0    536365    85123A  ... 2010-12-01 08:26:00      201012
1    536365     71053  ... 2010-12-01 08:26:00      201012

[2 rows x 10 columns]

Como podemos obsrevar en la siguiente celda, no hay missings.

In [36]:
retail[retail.isna().any(axis=1)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, date, year_month]
Index: []

## Tipo de Datos

Convirtamos las columnas correspondientes a tipo fecha

In [37]:
retail['date'] = pd.to_datetime(retail['InvoiceDate'])
# Creemos un numero entero para representar el mes y año
retail['year_month'] = retail['date'].map(lambda x: 100*x.year + x.month)
retail.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  InvoiceNo StockCode  ...                date  year_month
0    536365    85123A  ... 2010-12-01 08:26:00      201012
1    536365     71053  ... 2010-12-01 08:26:00      201012
2    536365    84406B  ... 2010-12-01 08:26:00      201012
3    536365    84029G  ... 2010-12-01 08:26:00      201012
4    536365    84029E  ... 2010-12-01 08:26:00      201012

[5 rows x 10 columns]

La columna de InvoiceNo no puede ser manejada directamente como entero, tiene que ser string. Podriamos hacer un diccionario de las columnas con strings a ints para mejorar el uso de memoria si asi lo desearamos.

In [39]:
#retail['InvoiceNo'] = retail['InvoiceNo'].astype(int)

ValueError: ignored

## Resumen ETL

Parece que los datos se encuentran en buen estado, salvo por los missings en el customer id que pueden deberse a varias causas y representan alrededor del 20% del total de la base. Para resolver el problema, les asignamos el numero -1.

# EDA